.hero-grid {
    display: grid;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.hero-grid-small {
    grid-column: span 2;
}

.hero-grid-big {
    width: 100%;
    grid-column: span 4;
}

.hero-grid-content {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffff;
  margin-left: 15px;
}
.hero-grid-text{
    width: 80%;
}

.hero-grid-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-grid-year{
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-grid-image {
  position: relative; /* Set relative positioning for stacking */
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: min(30vw, 500px); /* Adjust the width as needed */
  right: 0;
  margin-left: auto;
}

.hero-grid-image .bg-image {
  width: 100%; /* Adjust the width as needed */
  position: relative;
  z-index: 1; /* Ensures the red box stays behind the HK image */
  margin-right: 30px;
}

.hero-grid-image .foreground-image {
  position: absolute; /* Positioned on top of the red box */
  rotate: -10deg;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%; 
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.dark-products {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; /* Center the products horizontally */
    gap: 1rem;
    align-items: center; /* Align products vertically */
    padding-bottom: 0;
}

.chapter-title {
  font-family: main;
  font-size: 10vw;
  align-items: center;
  color: #ffff;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.big-image {
    width: 93%;
}

.width-80 {
    max-width: 1200px;
}

.size-10-grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.size-4-grid-item {
    grid-column: span 4;
}

.size-6-grid-item {
    grid-column: span 6;
}

.header-text {
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    align-content: center;
}

.small-text {
    color: white;
    font-size: 16px;
    line-height: 18px;
}

.chapter-grid-margin {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.display-grid {
    gap: 3%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 93%;
    margin-bottom: 3rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.gardenglow-grid {
    width: 93%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(24, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.tones-grid {
    width: 93%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.dg-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.naagin-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
.gg-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.display-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gg-1 {
    grid-column: span 1;
    grid-row: span 12;
}

.gg-2 {
    grid-column: span 1;
    grid-row: span 12;
}

.gg-3 {
    grid-column: span 1;
    grid-row: span 12;
}

.gg-4 {
    grid-column: span 1;
    grid-row: span 8;
}

.gg-5 {
    grid-column: span 1;
    grid-row: span 8;
}

.gg-6 {
    grid-column: span 1;
    grid-row: span 6;
}

.gg-7 {
    grid-column: span 1;
    grid-row: span 12;
}

.gg-8 {
    grid-column: span 1;
    grid-row: span 12;
}

.gg-9 {
    background-color: white;
    grid-column: span 1;
    grid-row: span 8;
}

.gg-10 {
    grid-column: span 1;
    grid-row: span 6;
}

.tone-1 {
    grid-column: span 1;
    grid-row: span 1;
}
.tone-2 {
    grid-column: span 1;
    grid-row: span 2;
}
.tone-3 {
    grid-column: span 1;
    grid-row: span 2;
}
.tone-4 {
    grid-column: span 1;
    grid-row: span 1;
}
.tone-5 {
    grid-column: span 1;
    grid-row: span 1;
}
.tone-6 {
    grid-column: span 1;
    grid-row: span 1;
}
.tone-7 {
    grid-column: span 1;
    grid-row: span 1;
}

.display-1 {
    grid-column: span 4;
}

.display-2 {
    grid-column: span 6;
}

.display-full {
    grid-column: span 10;
}

.dg-1 {
    grid-column: span 15;
}
.dg-2 {
    grid-column: span 5;
}
.dg-3 {
    grid-column: span 4;
}
.dg-4 {
    grid-column: span 6;
}

.naagin-1 {
    grid-column: span 14;
    grid-row: span 2;
}
.naagin-2 {
    grid-column: span 9;
    grid-row: span 22;
}
.naagin-3 {
    grid-column: span 9;
    grid-row: span 22;
}
.naagin-4 {
    grid-column: span 7;
    grid-row: span 15;
}
.naagin-5 {
    grid-column: span 7;
    grid-row: span 15;
}
.naagin-6 {
    grid-column: span 7;
    grid-row: span 15;
}
.naagin-7 {
    grid-column: span 7;
    grid-row: span 15;
}
.naagin-8 {
    grid-column: span 9;
    grid-row: span 10;
}
.naagin-9 {
    grid-column: span 9;
    grid-row: span 10;
}
