.width-full {
    width: 100%;
}

.object-scale-down {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-right {
    margin-left: 0;
    margin-right: auto;
}

.margin-left{
    margin-left: auto;
    margin-right: 0;
}

.margin-padding-bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.big-image-caption {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: right;
    margin-bottom: 3%;
}

.medium-margin-y {
    margin-top: 2rem;
    margin-bottom: 2rem;
}