video {
    object-fit: fill;
}

.grid{
    display: grid;
}

.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}

.col-span-6 {
    grid-column: span 6;
}

.col-span-4 {
    grid-column: span 4;
}

.width-full {
    width: 100%;
}

.object-scale-down {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-right {
    margin-left: 0;
    margin-right: auto;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-left{
    margin-left: auto;
    margin-right: 0;
}

.margin-padding-bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.padding-y {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.margin-y {
    margin-top: 4%;
    margin-bottom: 4%;
}

.margin-b {
    margin-bottom: 4%;
}


.big-image-caption {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 93%;
    color: white;
    font-size: 16px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.medium-margin-y {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grey-bg {
    width: 100%;
    background-color: #525454;
}

.site-width-margin {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.text-white {
    color: white;
}